body {
    margin: 0;
    height: 100vh;
    background: linear-gradient(45deg, purple, pink);
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding-top: 30px;
    flex-direction: column;
    align-items: center;
}

section {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 80%;
    max-width: 600px;
    text-align: center;
    margin-bottom: 20px;
}

h1 {
    margin: 0 0 20px 0;
    color: purple;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

button {
    margin: 10px;
    padding: 10px 20px;
    background-color: purple;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
}

button:hover {
    background-color: #6a0dad;
}

.input-group {
    margin: 15px 0;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #333;
}

input {
    padding: 10px;
    width: 100%;
    max-width: 100%;
    box-sizing: border-box;
    border-radius: 5px;
    border: 1px solid #ccc;
}

#submit-btn {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: purple;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
}

#submit-btn:hover {
    background-color: #6a0dad;
}

#figure-inputs {
    display: none; /* Oculto por defecto */
}

#figure-image {
    margin-top: 20px;
max-width: 100%;
height: auto;
display: none;
margin-left: auto;
margin-right: auto;
}